body {
  max-width: 768px;
  height: 4227px;
  background: #CCCCCC;
}
a {
  text-decoration: none;
}
header {
  width: 768px;
  height: 381px;
  background-image: url('../images_t/bgHeader.png');
  margin: 0 auto;
}
.navigation {
  width: 768px;
  height: 70px;
  margin: 0 auto;
}
.rectangle {
  width: 768px;
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}
#hLogo {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 24px;
  margin-left: 24px;
}
#hLinks {
  float: right;
  margin-top: 24px;
  margin-right: 20px;
}
#hLinks a {
  margin-left: 24px;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.download-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 3px;
  margin-left: 4px;
}
.headerIcons {
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  vertical-align: sub;
}
